 
    .contact {
      padding: 60px 30px;
      max-width: 600px;
      margin: auto;
      background-color: #f4f4f4;
      color: #333;
      border-radius: 20px;
    }

    .contact h1 {
      text-align: center;
      color: #003566;
      margin-bottom: 30px;
    }

    .contact form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .contact input,
    .contact textarea {
      padding: 12px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
    }

    .contact button {
      padding: 12px;
      background-color: #022e57;
      color: rgb(242, 243, 205);
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }

    .contact button:hover {
      background-color: #00264d;
    }

    .back-link {
      text-align: center;
      margin-top: 30px;
    }

    .back-link a {
      color: #003566;
      text-decoration: none;
      font-weight: bold;
    }

    .back-link a:hover {
      text-decoration: underline;
    }
  