 body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to top left, #c77dff, #09549bc2, #240046);
            padding: 20px;
        }
        .container {
            background: rgba(255, 255, 255, 0.164);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgb(0, 0, 0);
            max-width: 400px;
            margin: auto;
            color: #000;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #fff;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 12px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .checkbox-label {
            display: flex;
            align-items: center;
            margin: 15px 0;
            font-size: 14px;
        }
        .checkbox-label input[type="checkbox"] {
            margin-right: 10px;
        }
        .checkbox-label a {
            color: #fff;
            text-decoration: underline;
        }
        button {
            background-color: #003566;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }
        button:hover {
            background-color: #d628cdc5;
        }
        .login-link {
            text-align: center;
            margin-top: 15px;
            color: #fff;
        }
        .login-link a {
            color: #fff;
            text-decoration: underline;
        }
        .back-link {
            text-align: center;
            margin: 30px 0;
        }
        .back-link a {
            color: white;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
        }
        .back-link a:hover {
            text-decoration: underline;
        }
        .flashes {
            list-style: none;
            padding: 0;
        }
        .flashes li {
            background-color: #f8d7da;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            color: #721c24;
        }
        .flashes li.success {
            background-color: #d4edda;
            color: #155724;
        }